{% assign current = page.url %}
<header class="site-header">
  <nav class="site-nav">
    <a class="brand {% if current == "/" %}active{% endif %}" href="{{ "/" | relative_url }}">{{ site.title }}</a>
    <a href="{{ "/posts/" | relative_url }}" class="{% if current contains "/posts/" or page.layout == "post" %}active{% endif %}">文章</a>
    <a href="{{ "/tags/" | relative_url }}" class="{% if current == "/tags/" %}active{% endif %}">标签</a>
    <a class="nav-about {% if current == "/about/" %}active{% endif %}" href="{{ "/about/" | relative_url }}">关于</a>
  </nav>
</header>
